
body{
  background-color: white;
}
nav a {
    display:inline;
    color: blue;
    
    background-color: yellow;
    opacity:0.6;


}

nav a:hover{
    color:red;
    text-decoration:underline;
}
#presentation{
    display:block;
    
    box-shadow: 10px 10px blue;
    background-color: purple;
    color: rgb(255, 106, 0);
    position:relative;
}
#presentation h1 {
    text-decoration:underline;
    font-weight:900;

}
#design {
  text-decoration: underline;
    display:block;
    
    box-shadow: 10px 10px red;
    background-color: green;
   
    
    color:rgba(255, 106, 0, 0.4);
    position: relative;
}
#design h2 {
        text-decoration: underline;
        font-weight: 700;
    }

#pictures  {
    
    box-shadow: 10px 10px red;
    background-color: orangered;
    
    
    color: hsla(255, 106, 0, 0.4);
    
}
    #pictures img {
        display: inline-block;
        float: left;
    }
    #pictures h2{
      text-decoration: underline;
    }
p {
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: 500;
}
